@use "src/scss/functions" as f;
@use "src/scss/mixins" as m;

.filtersGroup {
  $margin: 20;

  @include m.fullSize;
  display: flex;
  flex-wrap: wrap;
  margin-right: f.vw(-1 * $margin);

  &__item {
    margin-right: f.vw($margin);
  }
}
