$card-items-color: white;
$main-background-color: white;
$main-background-hover-color: #eaeaea;
$main-background-active-color: #e2e2e2;
$select-border-color: #444444;
$black-text-color: #2E282C;
$body-background-color: #F0F3FF;
